<?xml version="1.0" ?>

<launch>
	<!-- __________________________ BEGIN LAUNCH SETUP __________________________ -->
	<!-- Basic Arguments -->
	<arg name="enable_rviz"   		default="1"/>
  	<arg name="enable_sim"    		default="1"/>
  	<arg name="robot_state" 		default="1"/>

	<!-- Processing Arguments -->
	<!-- Lidar -->
  	<arg name="enable_lidar_mapping" 		default="1"/>
	<arg name="enable_lidar_filtering"		default="0"/>
	<!-- Radar -->
	<arg name="enable_radar_filtering"		default="0"/>
	<arg name="enable_radar_mapping"		default="0"/>
	<arg name="enable_sar_mapping"			default="0"/>
	<!-- Octomap Analysis -->
	<!-- TODO -->

	<!-- Bag Arguments -->
	<arg name="enable_bagging" default="1"/>
	<arg name="input_bag_flags" default="--clock -k"/>
	<!-- <arg name="input_bag_filename" default="/media/kyle/45bfdd4b-6c7c-4d6a-a09d-21fbe576aa92/ec_data/12_21_2020/ec_hallways_run1.bag"/> -->
	<arg name="input_bag_filename" default="/home/ann/Downloads/ec_hallways_run0.bag"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="os1_link_joint" args="0.0 0.0 0.03618 3.14159 0 0 os1_sensor os1_lidar"/>
	<arg name="output_bag_filename" default="/home/ann/project/radar/octomap_testing_pcl"/>
	<!-- <arg name="bag_topics" default="/lidar/octomap_binary"/> -->
	<arg name="bag_topics" default="/lidar/octomap_point_cloud_centers"/>


	<!-- For bags -->
	<param name="/use_sim_time" value="true" if="$(arg enable_sim)"/>
	
	<!-- __________________________ END LAUNCH SETUP __________________________  -->

	<!-- __________________________ BEGIN LAUNCH FILES __________________________ -->

	<!-- Publish Odometry as TF -->
	<node pkg="isrr_analysis" name="odom2tf" type="odom2tf"/>

	<!-- Lidar setup -->
	<include file="$(find isrr_analysis)/launch/octomap_mapping.launch" if="$(arg enable_lidar_mapping)"/>
	<include file="$(find isrr_analysis)/launch/octomap_lidar_filter_mapping.launch" if="$(arg enable_lidar_filtering)"/>
	
	
	<!-- Radar setup -->
	<include file="$(find isrr_analysis)/launch/octomap_radar_mapping.launch" if="$(arg enable_radar_mapping)"/>

	<!-- Analysis -->
	<!-- TODO -->
	<!-- <node pkg="isrr_analysis" name="radar_octomap_count" type="octomap_voxel_counter" ns="lidar" if="$(arg enable_lidar_mapping)">
		<remap from="octomap_binary" to="/lidar/octomap_binary"/>
	</node>
	<node pkg="isrr_analysis" name="radar_octomap_count" type="octomap_voxel_counter" ns="lidar_filtered" if="$(arg enable_lidar_filtering)">
		<remap from="octomap_binary" to="/lidar_filtered/octomap_binary"/>
	</node>
	<node pkg="isrr_analysis" name="radar_octomap_count" type="octomap_voxel_counter" ns="radar" if="$(arg enable_radar_mapping)">
		<remap from="octomap_binary" to="/radar/octomap_binary"/>
	</node> -->


	<!-- __________________________ END LAUNCH FILES __________________________ -->


	<!-- __________________________ BEGIN BAGS/RVIZ __________________________ -->
	<!-- RVIZ -->
	<include file="$(find isrr_analysis)/launch/view_bag.launch"/>

	<!-- Record Odom -->
	<node pkg="rosbag" type="record" name="recorder" output="screen" args="-O $(arg output_bag_filename) topics $(arg bag_topics)" if="$(arg enable_bagging)"/>
	
	<!-- Play Original -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg input_bag_flags) $(arg input_bag_filename)" if="$(arg enable_sim)"/>
	
	<!-- __________________________ END BAGS/RVIZ __________________________ -->
	
</launch>
